@import '../../assets/css/com.scss';
@font-face {
  font-family: 'base_icon'; /* project id 1146833 */
  src: url('//at.alicdn.com/t/font_1146833_g12007ulygu.eot');
  src: url('//at.alicdn.com/t/font_1146833_g12007ulygu.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1146833_g12007ulygu.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1146833_g12007ulygu.woff') format('woff'),
    url('//at.alicdn.com/t/font_1146833_g12007ulygu.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1146833_g12007ulygu.svg#base_icon') format('svg');
}
.cool-icon-font-dashed:before {
  content: '\e71b';
  font-family: 'base_icon';
}

.cool-icon-font-loading:before {
  content: '\e738';
  font-family: 'base_icon';
}

.cool-icon-font-warn:before {
  content: '\e606';
  font-family: 'base_icon';
}

.cool-icon-font-refresh {
  &::before {
    content: '\e6ab';
    font-family: 'base_icon';
  }
}

.cool-icon-font-done {
  &::before {
    content: '\e632';
    font-family: 'base_icon';
  }
}

.cool-icon-font-setting:before {
  content: '\e615';
  font-family: 'base_icon';
}

.cool-icon-font-setting-bg:before {
  content: '\e627';
  font-family: 'base_icon';
}

.cool-icon-font-arrow-down {
  &::before {
    content: '\e709';
    font-family: 'base_icon';
  }
}

.cool-icon-font-speed-up {
  &::before {
    content: '\e63c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-upgrade {
  &::before {
    content: '\e7e2';
    font-family: 'base_icon';
  }
}

.cool-icon-font-broadcast {
  &::before {
    content: '\e610';
    font-family: 'base_icon';
  }
}

.cool-icon-font-close {
  &::before {
    content: '\e732';
    font-family: 'base_icon';
  }
}

.cool-icon-font-close-round {
  &::before {
    content: '\e634';
    font-family: 'base_icon';
  }
}

.cool-icon-font-video {
  &::before {
    content: '\e788';
    font-family: 'base_icon';
  }
}
.cool-icon-font-next {
  &::before {
    content: '\e71c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-share-1 {
  &::before {
    content: '\e653';
    font-family: 'base_icon';
  }
}

.cool-icon-font-share-2 {
  &::before {
    content: '\e654';
    font-family: 'base_icon';
  }
}

.cool-icon-font-share-bold {
  &::before {
    content: '\e60d';
    font-family: 'base_icon';
  }
}

.cool-icon-font-send {
  &::before {
    content: '\e656';
    font-family: 'base_icon';
  }
}

.cool-icon-font-info {
  &::before {
    content: '\e650';
    font-family: 'base_icon';
  }
}

.cool-icon-font-next-2 {
  &::before {
    content: '\e8a4';
    font-family: 'base_icon';
  }
}

.cool-icon-font-share {
  &::before {
    content: '\e639';
    font-family: 'base_icon';
  }
}

.cool-icon-font-copy {
  &::before {
    content: '\e63e';
    font-family: 'base_icon';
  }
}

.cool-icon-font-qq {
  &::before {
    content: '\ebed';
    font-family: 'base_icon';
  }
}

.cool-icon-font-transport {
  &::before {
    content: '\e661';
    font-family: 'base_icon';
  }
}

.cool-icon-font-sexual-girl {
  &::before {
    content: '\e80c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-sexual-boy {
  &::before {
    content: '\e68b';
    font-family: 'base_icon';
  }
}

.cool-icon-font-like {
  &::before {
    content: '\e611';
    font-family: 'base_icon';
  }
}

.cool-icon-font-cancel-bold {
  &::before {
    content: '\e607';
    font-family: 'base_icon';
  }
}
.cool-icon-font-filter {
  &::before {
    content: '\e64e';
    font-family: 'base_icon';
  }
}
.cool-icon-font-rule {
  &::before {
    content: '\e64b';
    font-family: 'base_icon';
  }
}
.cool-icon-font-back {
  &::before {
    content: '\e61a';
    font-family: 'base_icon';
  }
}
.cool-icon-font-back-arrow {
  &::before {
    content: '\e6ca';
    font-family: 'base_icon';
  }
}
.cool-icon-font-date {
  &::before {
    content: '\e617';
    font-family: 'base_icon';
  }
}
.cool-icon-font-birthday {
  &::before {
    content: '\e6bb';
    font-family: 'base_icon';
  }
}
.cool-icon-font-take-photo {
  &::before {
    content: '\e63b';
    font-family: 'base_icon';
  }
}
.cool-icon-font-photo {
  &::before {
    content: '\e673';
    font-family: 'base_icon';
  }
}
.cool-icon-font-wechat {
  &::before {
    content: '\e88d';
    font-family: 'base_icon';
  }
}

.cool-icon-font-emoji-bg {
  &::before {
    content: '\e608';
    font-family: 'base_icon';
  }
}

.cool-icon-font-photo-bg {
  &::before {
    content: '\e61b';
    font-family: 'base_icon';
  }
}

.cool-icon-font-audio {
  &::before {
    content: '\e722';
    font-family: 'base_icon';
  }
}

.cool-icon-font-delete-text {
  &::before {
    content: '\e609';
    font-family: 'base_icon';
  }
}

.cool-icon-font-sending {
  &::before {
    content: '\e60b';
    font-family: 'base_icon';
  }
}

.cool-icon-font-plus {
  &::before {
    content: '\e60c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-home-bg {
  &::before {
    content: '\e678';
    font-family: 'base_icon';
  }
}

.cool-icon-font-rotate {
  &::before {
    content: '\e616';
    font-family: 'base_icon';
  }
}

.cool-icon-font-scale {
  &::before {
    content: '\e60e';
    font-family: 'base_icon';
  }
}

.cool-icon-font-delete {
  &::before {
    content: '\e665';
    font-family: 'base_icon';
  }
}

.cool-icon-font-record-square {
  &::before {
    content: '\e63d';
    font-family: 'base_icon';
  }
}

.cool-icon-font-shopping-basket {
  &::before {
    content: '\e733';
    font-family: 'base_icon';
  }
}

.cool-icon-font-wepay {
  &::before {
    content: '\e61c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-coin {
  &::before {
    content: '\e60f';
    font-family: 'base_icon';
  }
}

.cool-icon-font-star {
  &::before {
    content: '\e612';
    font-family: 'base_icon';
  }
}

.cool-icon-font-question {
  &::before {
    content: '\e6fa';
    font-family: 'base_icon';
  }
}

.cool-icon-font-wechat-group {
  &::before {
    content: '\e628';
    font-family: 'base_icon';
  }
}

.cool-icon-font-customer-service {
  &::before {
    content: '\e618';
    font-family: 'base_icon';
  }
}

.cool-icon-font-business {
  &::before {
    content: '\e68d';
    font-family: 'base_icon';
  }
}

.cool-icon-font-qa {
  &::before {
    content: '\e9ef';
    font-family: 'base_icon';
  }
}

.cool-icon-font-wifi {
  &::before {
    content: '\f155';
    font-family: 'base_icon';
  }
}

.cool-icon-font-signal {
  &::before {
    content: '\e652';
    font-family: 'base_icon';
  }
}

.cool-icon-font-cloud-download {
  &::before {
    content: '\e64c';
    font-family: 'base_icon';
  }
}

.cool-icon-font-pause {
  &::before {
    content: '\f156';
    font-family: 'base_icon';
  }
}

.cool-icon-font-dir {
  &::before {
    content: '\e614';
    font-family: 'base_icon';
  }
}

.cool-icon-font-create-dir {
  &::before {
    content: '\e640';
    font-family: 'base_icon';
  }
}

.cool-icon-font-share-3 {
  &::before {
    content: '\e63a';
    font-family: 'base_icon';
  }
}

.cool-icon-font-setting {
  &::before {
    content: '\e641';
    font-family: 'base_icon';
  }
}

.cool-icon-font-switch-keyboard {
  &::before {
    content: '\e643';
    font-family: 'base_icon';
  }
}

.cool-icon-font-editor {
  &::before {
    content: '\e645';
    font-family: 'base_icon';
  }
}
